*{
    -webkit-box-sizing: border-box; /* Safari/Chrome, outros WebKit */
    -moz-box-sizing: border-box;    /* Firefox, outros Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../imagens/pentagon-pattern.webp);
    background-clip: content-box;
    background-size: auto; /* Set the width to 1120px and height to auto */
    background-repeat: repeat-y; /* Repeat only on the horizontal axis */
    background-color: #020202;
    background-position: center top;
    color: white;
    font-family: Consolas, sans-serif;
    text-align: center;
}

#header{
    opacity: 1;
}

#header h1{
    font-size: min(max(16px, 10vw), 75px);
    margin: 50px auto 0px auto;
    text-shadow:
        -2px -2px 15px #000,  
        2px -2px 15px #000,
        -2px 2px 15px #000,
        2px 2px 15px #000,
        -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

#header #nav_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    max-width: fit-content;
    border-radius: 10px;
    background-color: #020202;
    box-shadow: 0px 0px 20px 20px #020202b2,
                
}

#header #nav_menu a{
    color: black;
    margin: 1px;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    font-size: min(max(8px, 2.8vw), 24px);
}

#header #nav_menu .first{
    padding: 5px 10px 5px 15px;
    border-radius: 25px 0px 0px 25px;
}

#header #nav_menu .mid{
    border-radius: 0px;
}

#header #nav_menu .last{
    padding: 5px 15px 5px 10px;
    border-radius: 0px 25px 25px 0px;
}

#header #nav_menu a:visited{
    color: black;
}

#header #nav_menu a:hover{
    background-color: #020202;
    color: white;
}

#header #nav_menu ul {
    list-style-type: none; /* Removes bullet points */
    margin: 0;  /* Removes default margin */
    padding: 0;  /* Removes default padding */
    width: 100%; /* Takes full width of its parent */
}

.main_page{
    width: 100%;
    background-color: transparent;
    margin: auto;
    border-radius: 10px;
}

.white_page{
    background-color: white;
    color: black;
}

.black_page{
    background-color: #000;
    color: white;
}

.cmdTitleBar{
    background-color: #2e2e2e;
    width: min(max(300px, 80vw), 1400px);
    margin: auto;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    font-size: min(max(16px, 10vw), 20px);
}

.cmdTextZone{
    text-align: left;
    display: flex;
    background-color: #0c0c0c;
    color: white;
    width: min(max(300px, 80vw), 1400px);
    margin: auto;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    font-size: min(max(16px, 10vw), 20px);
}

.cmdIcon{
    color: white;
}

.cmdText{
    margin: 0px 10px 10px 15px ;
    width: 100%;
    text-align: left;
}

.crt {
    position: relative; /* This confines the pseudo-element to the boundaries of this element */
    /*overflow: hidden;   /* This ensures the pseudo-element doesn't overflow the .crt element */
}
.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 3px, 5px 100%;
    pointer-events: none;
    
    animation: rolling 10s linear infinite;
}
@keyframes rolling {
    0%{
        background-position: 0% 0%, 0% 0%;
    }
    100%{
        background-position: 0% 100%, 0% 0%;
    }
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
.blinking {
    animation: blink 1s infinite;
}

.glow {
    text-shadow: 0 0 0px #ffffff86, /* horizontal, vertical, blur, color */
                0 0 10px #ffffff86, 
                0 0 10px #ffffff86;
}

.blueCmd{
    color: #3caaff;
    text-shadow: 0 0 0px #3caaff86, /* horizontal, vertical, blur, color */
                0 0 10px #3caaff86, 
                0 0 10px #3caaff86;
}

.yellowCmd{
    color: #FFA500;
    text-shadow: 0 0 0px #FFA500, /* horizontal, vertical, blur, color */
                0 0 10px #FFA500, 
                0 0 10px #FFA500;
}
.greenCmd{
    color: #00ff00;
    text-shadow: 0 0 0px #00ff0086, /* horizontal, vertical, blur, color */
                0 0 10px #00ff0086, 
                0 0 10px #00ff0086;
}
.redCmd{
    color: #FF0000;
    text-shadow: 0 0 0px #FF000086, /* horizontal, vertical, blur, color */
                0 0 10px #FF000086, 
                0 0 10px #FF000086;
}

.last-typed{
    border-right: .15em solid white;
    animation: cursorblink 1s infinite;
}

.currently-typing {
    border-right: .15em solid white;
}


@keyframes cursorblink {
    0%, 100% {
        border-color: white;
    }
    50% {
        border-color: transparent;
    }
}



/*-------------------------------------*/
/* Experiencia */
/*-------------------------------------*/

.experiencia_grid{
    padding-right: 16px;
    width: 100%;
}

.experiencia_cmd_image{
    align-items: center;
    text-align: center;
    width: auto;
    margin: auto;
    font-size: min(max(3px, 0.5vw), 14px);
}




/*-------------------------------------*/
/* CERTIFICADOS */
/*-------------------------------------*/

.certificados_page{
    width: 70%;
}

.certificados{
    padding: 0 25px 0 25px;
}

.certificados_grid{
    display: grid;
    grid-auto-rows: 150px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: auto;
    column-gap: 50px;
}

.certificicados_item{
    display: flex;
    align-items: center;
    padding: 0;
    width: min(max(250px, 50vw), 2000px);
}

.certificado_img{
    display: block;
    width: min(max(50px, 6vw), 150px);
    margin-right: 20px;
}

.certificado_text{
    display: block;
    text-align: left;
}

.certificado_titulo, .certificado_origem{
    font-weight: bold;
}








.white{
    color: #ffffff;
}

[tab="1"]{
    margin-left: 30px;
}

[tab="2"]{
    margin-left: 60px;
}

[tab="3"]{
    margin-left: 100px;
}

body[data-page="resumo"] #header #nav_menu #resumo{
    background-color: #020202 !important;
    color: white !important;
}

body[data-page="experiencia"] #header #nav_menu #experiencia{
    background-color: #020202 !important;
    color: white !important;
}

footer{
    padding: 10px;
    font-size: min(max(12px, 10vw) 24px);
    margin-top: 50px;
    bottom: 0;
    color: white;
    position: absolute fixed;
    background-color: black;
}