*{
    -webkit-box-sizing: border-box; /* Safari/Chrome, outros WebKit */
    -moz-box-sizing: border-box;    /* Firefox, outros Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../imagens/pentagon-pattern.webp);
    background-size: 100vw auto; /* Set the width to 1120px and height to auto */
    background-repeat: repeat-y; /* Repeat only on the horizontal axis */
    background-color: #020202;
    background-position: center top;
}

.main_page{
    width: 100%;
    background-color: transparent;
    margin: auto;
    border-radius: 10px;
}

.white_page{
    background-color: white;
    color: black;
}

.black_page{
    background-color: #000;
    color: white;
}

body[data-page="resumo"] #header #nav_menu #resumo{
    background-color: #020202 !important;
    color: white !important;
}

body[data-page="experiencia"] #header #nav_menu #experiencia{
    background-color: #020202 !important;
    color: white !important;
}