body{
    background-color: #202020;
}

.container {    
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    min-height: 100svh; /* At least the full height of the viewport */
}

i{
    font-size: min(max(200px, 10vw), 500px);
    color: white;
}

i:hover{
    scale: 1.1;
    color: #0f0;
}

i:active{
    scale: 1;
}
