.certificados{
    padding: 0 25px 0 25px;
}

.certificados_grid{
    display: grid;
    grid-auto-rows: 150px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: auto;
    column-gap: 50px;
}

.certificados_item{
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    /* width: min(max(10px, 60vw), 600px); */
}

.certificado_img{
    display: block;
    width: min(max(50px, 6vw), 150px);
    width: min(max(50px, 6svw), 150px);
    margin-right: 20px;
}

.certificado_text{
    display: block;
    text-align: left;
    width: 80%;
}

.certificado_titulo, .certificado_origem{
    font-weight: bold;
}