footer{
    position: relative;
    padding: 10px;
    font-size: min(max(20px, 10vw) 50px);
    font-size: min(max(20px, 10svw) 50px);
    margin-top: 50px;
    bottom: 0;
    color: white;
    background-color: black;
}