header{
    opacity: 1;
    font-family: Consolas;
    letter-spacing: 0;
}

header h1{
    font-size: min(max(16px, 10vw), 75px);
    font-size: min(max(16px, 10svw), 75px);
    margin: 0px auto 0px auto;
    text-shadow:
        -2px -2px 15px #000,  
        2px -2px 15px #000,
        -2px 2px 15px #000,
        2px 2px 15px #000,
        -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

header #nav_menu{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: min(max(20px, 5vw), 50px) auto;
    margin: min(max(20px, 5svw), 50px) auto;
    max-width: fit-content;
    border-radius: 10px;
    background-color: #020202;
    box-shadow: 0px 0px 20px 20px #020202b2,
                
}

header #nav_menu a{
    color: black;
    margin: 1px;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    font-size: min(max(8px, 2.8vw), 24px);
    font-size: min(max(8px, 2.8svw), 24px);
}

header #nav_menu .first{
    padding: 5px 10px 5px 15px;
    border-radius: 25px 0px 0px 25px;
}

header #nav_menu .mid{
    border-radius: 0px;
}

header #nav_menu .last{
    padding: 5px 15px 5px 10px;
    border-radius: 0px 25px 25px 0px;
}

header #nav_menu a:visited{
    color: black;
}

header #nav_menu a:hover{
    background-color: #020202;
    color: white;
}

header #nav_menu li {
    height: inherit;
    list-style-type: none; /* Removes bullet points */
    margin: 0;  /* Removes default margin */
    padding: 0;  /* Removes default padding */
}