*{
    -webkit-box-sizing: border-box; /* Safari/Chrome, outros WebKit */
    -moz-box-sizing: border-box;    /* Firefox, outros Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin: 0;
    padding: 0;
    /* border: 1px #ff0000 solid; */
}

body{
    background-image: url('/content/imagens/wave-background.png');
    background-size: 100vw auto; /* Set the width to 1120px and height to auto */
    background-size: 100svw auto; /* Set the width to 1120px and height to auto */
    background-repeat: round; /* Repeat only on the horizontal axis */
    background-attachment: fixed;
    background-color: #020202;
    background-position: center top;
}

body[data-page="resumo"] #header #nav_menu #resumo{
    background-color: #020202 !important;
    color: white !important;
}

body[data-page="experiencia"] #header #nav_menu #experiencia{
    background-color: #020202 !important;
    color: white !important;
}

#language_selector{
    text-decoration: none;
    width: fit-content;
    font-size: xxx-large;
    color: white;
    
}

#language_selector > i{
    transition: scale 0.2s;
}

#language_selector:hover > i{
    scale: 1.1;
}

#language_selector:active > i{
    scale: 0.9;
}