.portfolio_page{
    padding-bottom: 50px;
}

.portfolio_title{
    font-size: xxx-large;
    font-weight: 1000;
}

h1{
    margin-top: 50px;
    margin-bottom: 25px;
}

.portfolio_indice_itens{
    text-align: left;
    width: fit-content;
    margin: auto;
}

ul{
    list-style-type: none;
    font-family: inherit;
}

.item_details{
    text-align: center;
    justify-items: center;
    justify-content: center;
    place-items: center;
}

.item_details hr{
    margin: 50px;
}

h3{
    margin: 10px;
}

.portfolio_item_img_grid{
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    align-items: stretch;
}

img{
    margin: 10px;
    width: min(max(50px, 100%), 400px);
    height: fit-content;
    border: 2px black solid;
    border-radius: 10px;
    transition: scale 0.2s;
}

.solo{
    width: min(max(50px, 100%), 600px);
}

/* #backtotop_buttom{
    border: none;
    position: fixed;
    bottom: 1vh;
    bottom: 1svh;
    right: 1vw;
    right: 1svw;
    background-color: #111;
    color: white;
    font-size: xxx-large;
    font-weight: bolder;
    width: max-content;
    height: max-content;
    padding: 20px;
    border-radius: 200px;
    z-index: 1000;
}

#backtotop_buttom:hover{
    scale: 1.1;
}

#backtotop_buttom:active{
    scale: 0.9;
} */